@font-face {
    font-family: "Inter";
    src: url(./inter-regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(./roboto-regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(./roboto-medium.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url(./roboto-black.woff) format('woff');
    font-weight: 900;
}
@font-face {
    font-family: "Robotoslab";
    src: url(./robotoslab-regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: "Sourcesanspro";
    src: url(./sourcesanspro-regular.woff) format('woff');
    font-weight: 400;
}