.footer__wrapper {
    margin: 0 106px 0 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__subtitle {
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin: 0;
}
.footer__nav {
    display: flex;
    align-items: center;
}
.footer__wrapper-menu-navigation-list {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.footer__wrapper-menu-navigation-list-element {
    margin-right: 28px;
}
.footer__wrapper-menu-navigation-list-element:last-of-type {
    margin: 0;
}

.link {
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}
.link:not(:last-of-type) {
    margin-right: 25px;
}
@media screen and (max-width: 1023px) {
    .footer__wrapper {
        margin: 0 40px;
    }
    .footer__wrapper-menu-navigation-list-element {
        margin-right: 18px;
    }
    .footer__wrapper-menu-navigation-list-element_margin-right_big {
        margin-right: 35px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 20px 0;
    }
    .footer__wrapper {
        flex-direction: column-reverse;
        margin: 0 16px;
    }
    .footer__nav {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 38px;
        align-items: flex-start;
    }
    .footer__wrapper-menu-navigation-list {
        display: block;
        margin: 0;
    }
    .footer__wrapper-menu-navigation-list-element:not(:last-of-type) {
        margin-bottom: 24px;
    }
}